<center><h1>D&D Assistant</h1></center>
<center><table>
    <tr>
        <td><a href = "/CharacterSheets"><h3>Character Sheets</h3></a></td>
        <td><a href = "/char_create"><h3>Character Creator</h3></a></td>
    </tr>
    <tr>
        <button type="button">Dice!</button>
    </tr>
</table></center>
<div class='flr'>
<table>
    <tr>
        <td>
            
          <label>User Name</label>
         </td><td>
          <input type = "text"
                 id = "uName"/>
        
        </td>
    </tr>
    
    <tr>
        <td>
            
          <label>Password</label>
          </td>
          <td>
          <input type = "password"
                  id = "thePass"
                  value = "secret"
                  onclick="clear('thePass','secret');" />
        
        </td>
    </tr>
    </table>
    <table>
    <tr>
        <td>
            <a href='#' class="nonActiveLink">Sign Up</a>
        </td>
        <td>
            <a href="#" class='nonActiveLink'>Log In</a>
        </td>
    </tr>
</table>
</div>
        
<img class="fll" src="/images/beholder_noback.png" alt="beholder" height="400" width="400">

<script>
    function clear(id,value)
    {
        var str = document.getElementById(id).value;
        if(str == value){
            document.getElementById(id).value="";
        }
    }
</script>