<center><h1>D&D Assistant</h1></center>
<center><table>
    <tr>
        <td><a href = "Character Sheets"><h3>Character Sheets</h3></a></td>
        <td><a href = "Character Creator"><h3>Character Creator</h3></a></td>
    </tr>
    <tr>
        <button type="button">Dice!</button>
    </tr>
</table></center>

<table>
    <tr>
        <td>
            <p>
          <label>User Name</label>
          <input type = "text"
                 id = "uName"/>
        </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
          <label>Password</label>
          <input type = "password"
                  id = "thePass"
                  value = "secret" />
        </p>
        </td>
    </tr>
</table>
        
        


<img src="/images/beholder_noback.png" alt="beholder" height="200" width="200">