// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: #DECB8C;
    color: #8C97DE;
}
h1 {
    font-family: 'Dungeon';
    letter-spacing: 4px;
    font-size: 70px;
    color: #3F4A91;
}
a:link, a:active, a:visited, a:hover {
    color: #8C97DE;
    font-family: 'Dungeon';
    font-size: 50px;
    border: solid 2px black;
    background-color: #5E5229;
    display: inline-block;
    margin: 15px;
    padding: 15px;
}
a:hover {
    color: #B0B5DE;
    background-color: #755D2D;
    padding: 5px;
}
a:active{
    color: #29305E;
    padding: 0px;
}

button{
    background-color: #875BAB;
    color: #A6E3D7;
    border: solid 2px black;
    padding:15px 36px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    font-family: 'Dungeon';
}
button:active{
    padding: 14px 35px;
}
@font-face {
    font-family: Dungeon;
    src: url(/fonts/d1.TTF);
}
.flr
{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    font-family:'Dungeon';
}
.fll
{
    position: absolute;
    left: 20px;
    top: 20px;
}
input{
    font-family:'Dungeon';
    font-size: 25px;
}
label
{
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    font-family:'Dungeon';
    font-size: 35px;
}
.CCBox
{
    border: solid #875BAB 5px;
    display: inline-block;
    padding: 5px;
    background-color: #5E5229;
}
.CCBox input
{
    background-color: #DECB8C;
}
.CCBox select
{
    background-color: #DECB8C;
}
.CCBox input[type=submit]
{
    width:98%;
    background-color:#6C74AB;
    border: #0A027C 3px solid;
}

.CCBOXI_BACKUP
{
    width:98%;
    background-color:#6C74AB;
    border: #5C6391 3px solid;
}