<center><h1>Account Creation</h1></center>
<center>
    <%= SecureRandom.base64(64) %>
</div>
    
    <div class = 'CCBox'>
        <form action="/register" method="post">
    <table>
        <tr>
            <td>
                <label>Username:</label>
            </td><td>
                <input type="username"
                       id="username"
                       value="username"
                       name='username'
                       onclick="c4();"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email:</label>
            </td><td>
                <input type="email"
                       id="email"
                       name="email"
                       onclick="c5();"
                       value="email"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password:</label>
            </td><td>
                <input type="password"
                       id="password"
                       name="password"
                       value="secret"
                       onclick="c2();"  />
            </td>
        </tr>
        
        <tr>
            <td>
                <label>Reenter Password:</label>
            </td><td>
                <input type="password"
                       id="password_confirmation"
                       name='passwordC'
                       value="secret"
                       onclick="c3();"  />
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
        
        
    </table>
    <center>  <input type="submit" style='' value='Create Account'/></center>
    </form>
    </div>
    
</center>

<a href = '/welcome/index'>Home</a>

<script type="text/javascript" src="/js/main.js"></script>
