<center><h1>Account Creation</h1></center>
<center>
    <div class = 'CCBox'>
    <table>
        <tr>
            <td>
                <label>Username:</label>
            </td><td>
                <input type="username"
                       id="username"
                       value="username"
                       onclick="c4();"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password:</label>
            </td><td>
                <input type="password"
                       id="password1"
                       value="secret"
                       onclick="c2();"  />
            </td>
        </tr>
        
        <tr>
            <td>
                <label>Reenter Password:</label>
            </td><td>
                <input type="password"
                       id="password2"
                       value="secret"
                       onclick="c3();"  />
            </td>
        </tr>
        <tr>
            <td>
                <button type=button>Submit</button>
            </td>
        </tr>
    </table>
    </div>
    
</center>

<a href = '/welcome/index'>Home</a>

<script type="text/javascript" src="/js/main.js"></script>
