<center>Account Creation</center>
<center>
    <table>
        <tr>
            <td>
                <label>Username:</label>
            </td><td>
                <input type="username"
                       id="username" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password:</label>
            </td><td>
                <input type="password"
                       id="password"
                       value="secret"
                                     />
            </td>
        </tr>
    </table>
</center>