 <div class = 'CCBox'>
        <p><%= @message %></p>
    <table>
        <tr>
            <td>
                <p>Username: </p>
            </td>
            
            <td>
                <%= @usernameDisplay %>
            </td>
        </tr>
        <tr>
            <td>
                <p>email: </p>
            </td>
            
            <td>
                <%= @userEmailDisplay %>
            </td>
        </tr>
        <tr>
            <td>
                <p>ID: </p>
            </td>
            
            <td>
                <%= session[:current_user_id] %>
            </td>
        </tr>
    </table>

    </div>
        <a href = '/welcome/index'>Home</a>