<h1>Character Creator</h1>
<table>
    
    <td>
        <label>Strength</label>
    </td>
    <tr>
        <input type = "number"
            id = "strength"  /> 
    </tr>
    
    <tr>
        <label>Constitution</label>
    </tr>
    <tr>
        <input type = "number"
            id = "constitution" />
    </tr>
    <tr>
        
        <label>Dexterity</label>
    </tr>
    <tr>
        <input type = "number"
            id = "dexterity"  /> 
    </tr>
</table>

            
        
<a href = /welcome/index>Home</a>