<% @rollArray.each do |roll| %> 
<tr>       
<td><p><label style="color: #3F4A91"><%= roll %></label></p></td>
</tr>   
<% end %>

<br>
<p><label style="color: #3F4A91">Total: <%= @total %></label></p>